{% block content %}

<html>
	<head>
		<title>Web Assessment</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Web Assessment 個人結果</a></h1>	
		</div>
		<div>
			<h4><a href="">能力傾向</a></h4>
				<p>能力傾向とは、・・・・・・</p>
                <p>1.</p>
                <p>2.</p>
                <p>3.</p>
                <p>4.</p>
                <p>5.</p>
		</div>
		<div>
			<h4><a href="">今後に向けて</a></h4>
				<p>今後に向けては、・・・・・・・・</p>
		</div>	
		<div>
			<h4><a href="">学習に向けて</a></h4>
				<p>学習に向けては、・・・・・・・・</p>
		</div>		
	</body>
</html>

{% endblock %}